.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  gap: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template:
    'editor renderer' 1fr
    'log renderer' auto / 2fr 3fr;
}

.editor,
.log,
.renderer {
  margin: 0;
  border: 1px solid rgba(#fff, .2);
}

.editor {
  grid-area: editor;
}

.log {
  grid-area: log;
  display: none;
}

.renderer {
  grid-area: renderer;
}
