.container {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  margin: 20px; // margin not padding for splitter precision
  box-sizing: border-box;
  display: flex;
  color: var(--neutral-1);
}

.editor {
  flex: 1 1 0;
}

.toolbar {
  grid-area: toolbar;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  flex: 0 0 auto;
  margin-bottom: 12px;
}

.programPicker {
  box-shadow: 0 0 0 1px var(--neutral-8) inset;
  border-radius: 100px;
  position: relative;
  width: auto;
  height: 40px;
  flex: 1 1 0;

  select {
    background: transparent;
    border: 0;
    appearance: none;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 44px;
    border-radius: 100px;
    appearance: none;
    color: var(--neutral-1);

    option {
      background-color: var(--bg-color);
    }
  }

  svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translate(0, -50%);
    width: 24px;
    height: 24px;
    color: var(--neutral-5);
    pointer-events: none;
  }

  &:hover,
  &:focus-within {
    background-color: var(--neutral-10);
    box-shadow: 0 0 0 1px var(--neutral-3) inset;

    svg {
      color: var(--neutral-1);
    }
  }

  select:focus {
    outline: var(--neutral-1);
  }

  select + svg {
    left: auto;
    right: 12px;
  }
}

.iconButton {
  background: transparent;
  color: var(--neutral-5);
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  appearance: none;

  &:hover,
  &:focus {
    background-color: var(--neutral-10);
    color: var(--neutral-1);
  }

  &:focus {
    outline: 1px solid var(--neutral-1);
  }
}
