:root {
  --font-family-code: 'JetBrains Mono', monospace;
}

body {
  --bg-color: #162b4b;
  font-family: Poppins;
  font-weight: 500;
  background: var(--bg-color);
  color: #eee;
  margin: 0;
}

b,
bold {
  font-weight: 700;
}

a {
  color: yellowgreen;
}